@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-blueGray-900 transition text-custom-black;
  }
}

@layer utilities {
  /* body{
    background: red;
  } */
  .projectcard_left {
    max-width: 41.6667%;
    flex: 0 0 41.6667%;
  }
  .fwhite{
      background-color: #f9f9f9;
  }
}
